<%- include("./partials/header") -%>

<div class="container">
	<h1>About</h1>
	<p>
		This is a simple riddle game. You will be presented with a riddle and you
		have to guess the answer. If you can't guess the answer, you can reveal it
		and move on to the next riddle.
	</p>

	<%- include("./partials/footer") -%>
</div>
