<%- include("./partials/header") -%>\

<div class="container">
	<h1>Contact</h1>
	<p>
		If you have any questions or feedback, please feel free to contact me at
		<a
			href="https://mail.google.com/mail/?view=cm&fs=1&to=vinit.sonawane00@gmail.com"
			target="_blank"
			>vinit.sonawane00@gmail.com</a
		>.
	</p>
</div>
<%- include("./partials/footer") -%>
